<div class="component-banner">
  <div class="block">
    <el-carousel trigger="click" height="630px" :interval="5000">
      <el-carousel-item v-for="item in bannerList" :key="item">
        <img :src="item.img">
      </el-carousel-item>
    </el-carousel>
  </div>

  <div class="text">
    <section>
      <b>互联网<i>+</i></b>
      <b>共享工厂</b>
    </section>
    <p>高效打版，柔性生产</p>
    <p class="btn-row">
      <button class="portal-big-button" @click="$gotoCreateOrder">打版意向</button></a>
      <button class="portal-big-button" @click="$gotoSupplierRegiter">供应商入驻</button>
    </p>
  </div>
</div>
