<div :class="['component-dialog', isPopShow ? 'actived' : '']">
    <div class="mask"></div>
    <div class="dialog-wrap">
      <div class="inner">
        <div class="content">
          <header>
            <slot name="popTitle"></slot>
            <button class="rf-iconfont icon-error1 btn-close" @click="$closePop"></button>
          </header>
          <div :class="['dialog-body', isNeedFoot ? '':'body-no-foot']">
            <slot name="popBody"></slot>
          </div>
          <footer class="btn-no-2" v-show="isNeedFoot">
            <slot name="popFooter"></slot>
          </footer>
        </div>
      </div>
    </div>
  </div>
  